/*
 * This file is provided for application-specific style rules.
 *
 * By default, Maqetta includes this CSS file within HTML pages
 * authored in Maqetta.
 *
 * This file is typically used to override style rules found in
 * theme CSS files. For example, suppose the theme CSS file has:
 *
 * .claro .dijitButton .dijitButtonNode {
 *		padding:2px 4px 4px 4px;
 * }
 *
 * But for your application suppose you want to tighten the padding
 * for buttons. Then, you might include the following style rule
 * in this file (assuming that you accept Maqetta's default where
 * id "myapp" is present on the BODY element, and assuming
 * that you are using the "claro" theme):
 *
 * #myapp.claro .dijitButton .dijitButtonNode {
 *		padding:1px 3px 3px 3px;
 * }
 *
 * Because of CSS precedence rules (see [1]), the above style rule
 * (which begins with #myapp.claro) will "win the cascade" versus 
 * the style rule from the theme CSS file due to the use of the
 * ID select (#myapp), which has higher specificity than the class
 * selectors used throughout the Claro theme.
 *
 * [1] http://www.w3.org/TR/CSS21/cascade.html#cascade
 */
html,body {
	height: 100%;
	width: 100%;
}

#mainContent .ioc_content {
   color: __text__;
   background-color: __background__;
}

#header .container {
	height: 78px;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

#navigation. ul{
	display: block;
	list-style-type: disc;
	list-style-type: disc;
	list-style-position: outside;
}

#header ul li {
	list-style: none;
	display: inline;
}

div.tb_container ul{
    overflow: hidden !important;
    padding: 0;
    padding-bottom: 0.5em;
    margin: 0;
    font-size: 0.75em;
}
 
/*.claro .dijitTabContainerTop-tabs .dijitTab{
    min-width: 5px;
    width: 32px;
}*/
.claro .dijitTabContainerTop .dijitTabContent{
    min-width: 5px;
/*    padding-left: 2px;
    padding-right: 2px;*/
}

.wikiIocRotate{
/*-webkit-transform: rotate(90deg);
-moz-transform: rotate(90deg);
-o-transform: rotate(90deg);
writing-mode: tb-rl;    */
}
