/*
 * This file is provided for application-specific style rules.
 *
 * By default, Maqetta includes this CSS file within HTML pages
 * authored in Maqetta.
 *
 * This file is typically used to override style rules found in
 * theme CSS files. For example, suppose the theme CSS file has:
 *
 * .claro .dijitButton .dijitButtonNode {
 *		padding:2px 4px 4px 4px;
 * }
 *
 * But for your application suppose you want to tighten the padding
 * for buttons. Then, you might include the following style rule
 * in this file (assuming that you accept Maqetta's default where
 * id "myapp" is present on the BODY element, and assuming
 * that you are using the "claro" theme):
 *
 * #myapp.claro .dijitButton .dijitButtonNode {
 *		padding:1px 3px 3px 3px;
 * }
 *
 * Because of CSS precedence rules (see [1]), the above style rule
 * (which begins with #myapp.claro) will "win the cascade" versus 
 * the style rule from the theme CSS file due to the use of the
 * ID select (#myapp), which has higher specificity than the class
 * selectors used throughout the Claro theme.
 *
 * [1] http://www.w3.org/TR/CSS21/cascade.html#cascade
 */
html,body {
	height: 100%;
	width: 100%;
}

#mainContent .ioc_content {
   color: __text__;
   background-color: __background__;
}

#header .container {
	height: 78px;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

#p-navigation ul{
    display: block;
	list-style-type: disc;
	list-style-type: disc;
	list-style-position: outside;
}

#navigation ul{
	display: block;
	list-style-type: disc;
	list-style-type: disc;
	list-style-position: outside;
}

#header ul li {
	list-style: none;
	display: inline;
}

div.tb_container ul{
    overflow: hidden !important;
    padding: 0;
    padding-bottom: 0.5em;
    margin: 0;
/*    font-size: 0.75em;*/
}

.claro .dijitTabContainerTop .dijitTabContainerTop-tabs .dijitTabContent{
    min-width: 5px;
/*    padding-left: 2px;
    padding-right: 2px;*/
}

.wikiIocRotate{
/*-webkit-transform: rotate(90deg);
-moz-transform: rotate(90deg);
-o-transform: rotate(90deg);
writing-mode: tb-rl;    */
}

.iocDisplayBlock{
	display:block;
}

div.dokuwiki .section_highlight{
    background-color: #eff8fd !important;
}

div.dokuwiki .section_selected {
    background-color: #dee7ec !important;
}

#zonaMissatges td {
    padding-left: 5px;
    padding-right: 5px;
}


/* CSS pel DiffLib */
/*
This is part of jsdifflib v1.0. <http://github.com/cemerick/jsdifflib>
Copyright 2007 - 2011 Chas Emerick <cemerick@snowtide.com>. All rights reserved.
Redistribution and use in source and binary forms, with or without modification, are
permitted provided that the following conditions are met:
   1. Redistributions of source code must retain the above copyright notice, this list of
      conditions and the following disclaimer.
   2. Redistributions in binary form must reproduce the above copyright notice, this list
      of conditions and the following disclaimer in the documentation and/or other materials
      provided with the distribution.
THIS SOFTWARE IS PROVIDED BY Chas Emerick ``AS IS'' AND ANY EXPRESS OR IMPLIED
WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND
FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL Chas Emerick OR
CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING
NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF
ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
The views and conclusions contained in the software and documentation are those of the
authors and should not be interpreted as representing official policies, either expressed
or implied, of Chas Emerick.
*/
table.diff {
	border-collapse:collapse;
	border:1px solid darkgray;
	white-space:pre-wrap;
	width: 100%;
}
table.diff tbody {
	font-family:Courier, monospace
}
table.diff tbody th {
	font-family:verdana,arial,'Bitstream Vera Sans',helvetica,sans-serif;
	background:#EED;
	font-size:11px;
	font-weight:normal;
	border:1px solid #BBC;
	color:#886;
	padding:.3em .5em .1em 2em;
	text-align:right;
	vertical-align:top
}
table.diff thead {
	border-bottom:1px solid #BBC;
	background:#EFEFEF;
	font-family: Verdana, serif;
}
table.diff thead th.texttitle {
	text-align:left
}
table.diff tbody td {
	padding: .4em .4em 0;
	vertical-align:top;
}

table.diff th {
	width: 5%;
}

table.diff th {
	width: 5%;
}

.diff-dialog-diff>table.diff td {
    min-width: 265px; /* les cel·les de les taules no funcionen amb mides percentuals ni amb width fixa */
    max-width: 265px;
    overflow: hidden;
}

table.diff .empty {
	background-color:#DDD;
}
table.diff .replace {
	background-color:#FD8
}
table.diff .delete {
	background-color:#E99;
}
table.diff .skip {
	background-color:#EFEFEF;
	border:1px solid #AAA;
	border-right:1px solid #BBC;
}
table.diff .insert {
	background-color:#9E9
}
table.diff th.author {
	text-align:right;
	border-top:1px solid #BBC;
	background:#EFEFEF;
}

/* CUSTOM STYLE */
.diff-dialog-diff {
	height: 200px;
	width: auto;
	overflow: scroll;
}

.iocIconSave,
.iocIconPrint,
.iocIconCut,
.iocIconCopy,
.iocIconExit,
.iocIconDelete,
.iocIconUndo,
.iocIconRedo,
.iocIconNew,
.iocIconEdit,
.iocIconPartialEdit,
.iocIconMediaDetail,
.iocIconTrash,
.iocIconClose,
.iocIconUpload,
.iocIconMediaEdit{
	background-image: url("css/icons/commonIconsObjActEnabled.png"); 
	width: 32px;
	height: 32px;
}
.iocIconSave { background-position: 0; }
.iocIconPrint { background-position: -32px; }
.iocIconCut { background-position: -64px; }
.iocIconCopy { background-position: -96px; }
.iocIconExit { background-position: -128px; }
.iocIconDelete { background-position: -160px; }
.iocIconUndo { background-position: -192px; }
.iocIconRedo { background-position: -224px; }
.iocIconNew { background-position: -256px; }
.iocIconEdit { background-position: -288px; }
.iocIconPartialEdit { background-position: -320px; }
.iocIconMediaDetail { background-position: -352px; }
.iocIconTrash { background-position: -384px; }
.iocIconClose { background-position: -416px; }
.iocIconUpload { background-position: -448px; }
.iocIconMediaEdit { background-position: -480px; }

/* NOTIFICATIONS */
.notification {
	border: 1px solid  #8cacbb;
	background-color: #fff;
	color: black;
	width: 300px;
	opacity: 0.5;
	border-radius: 5px;
	background-image: url("css/icons/notify.png");
	margin: 0 0 0.5em;
	padding: 0.4em;
	padding-left: 32px;
	background-repeat: no-repeat;
	background-position: 8px 8px;
}


.notification-container {
    background-color: #fff;
    min-width: 310px;
	border-radius: 5px;
}


.unreaded .notification {
	opacity: 1;
}

.notification span.dijitTabCloseIcon {
    margin-right: 0;
    float: right;
}

/* AVISOS DEL SISTEMA */




.warning-container .notification{
	opacity: 1;
	font-size: inherit;
	line-height: inherit;

	background-position: 8px 8px;
}

.notification.warning, .warning-buttons .warning {
	color:#9F6000;
	background-color:#FEEFB3;
	border-color:#9F6000;
	background-image: url("css/icons/warning.png");
}

.notification.error, .warning-buttons .error {
	color:#D8000C;
	background-color:#FFBABA;
	border-color:#D8000C;
	background-image: url("css/icons/error.png");
}

.notification.info, .notification.message, .warning-buttons .info {
	color:#00529B;
	background-color:#BDE5F8;
	border-color:#00529B;
	background-image: url("css/icons/info.png");
}

.notification.success, .warning-buttons .success {
	color:#4f8A10;
	background-color:#DFF2BF;
	border-color:#4f8A10;
	background-image: url("css/icons/success.png");
}

.warning-buttons.right {
	margin: 0.5em;
	padding: 0.2em;
	text-align: right;
}

.warning-buttons span {
	border: 1px solid;
	border-radius: 5px;

	padding: 0.4em;
	padding-left: 32px;
	background-repeat: no-repeat;
	background-position: 8px 4px;
}




.activeAlarm{
    font-weight: bold !important;
    color: #EE2C2C !important;
}

.inactiveAlarm{
    font-weight: normal;
    color: black;
}

.iocIconActiveAlarm{
	background-image: url("css/icons/activeAlarm.gif"); 
	width: 16px;
	height: 16px;
}

.iocIconInactiveAlarm{
	background-image: url("css/icons/inactiveAlarm.png"); 
	width: 16px;
	height: 16px;
}

/* Forms */
.ioc-bootstrap .form-group.form-frame {
	border-radius:5px;
	border: 1px solid #8cacbb;
}

.ioc-bootstrap .form-group.form-without-frame {
	margin-bottom: 16px;
	margin-top: 1px;
}

.ioc-bootstrap .form-group { /* Pertany a Bootstrap */
	padding-bottom: 10px;
}

/* Capçeleres falses pels formularis */
.h1, .h2 {
	/*margin-top: 20px;*/
	/*margin-bottom: 10px;*/
	font-family: inherit;
	font-weight: 500;
	/*line-height: 1.1;*/
	color: inherit;
}

.h1 {
	font-size: 20px;
	text-align: center;
}

.h2 {
	font-size: 14px;
}

/* Correcció posició de l'icona de la carpeta a la vista d'arbre */
.dijitTreeIcon.dijitIconFolderClosed, .dijitTreeIcon.dijitFolderClosed{
	background-position: -463px;
}

#bodyContent{
    font-size:  1.1em;
}
